<template>

    <v-row no gutters> 
        <v-col cols="12" sm="6" md="8">
            <v-parallax dark height="900" src="http://tlms3.s3.amazonaws.com/1574844895307_Pic%204.jpg">
             <v-row align="center" justify="center">
                <v-col class="text-center" cols="12">
                    <div class="first flex display-4 font-weight-bold ">TUNNEL INSIGHT</div>
                    <div class="second display-1 font-weight-thick mb-4">Welcome Tunnelers</div>
                    <div class="thrid subheading">Got Problems today? Biasala~ </div>
                </v-col>
            </v-row>
            </v-parallax>
        </v-col>

        <v-col cols="6" md="4">
                 <v-parallax height="900" src="https://i.imgflip.com/2knv63.jpg">
                    <v-row align="center" justify="center">
                        <v-col class="text-center" cols="12">
                            <span class="display-1 font-weight-light grey--text">LOGIN</span>
                            <span class="display-1 font-weight-thick grey--text">PAGE</span>
                            <v-card-text>
                                <h4 class="black--text subheading"></h4>
                                    <v-text-field
                                        v-model="email"
                                        label="E-mail"
                                        name="email"
                                        prepend-inner-icon="mail"
                                        type="email"
                                        clearable
                                        outlined
                                    ></v-text-field>

                                    <v-text-field
                                        v-model="password"
                                        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                        :rules="[rules.required, rules.min]"
                                        :type="show1 ? 'text' : 'password'"
                                        name="input-10-1"
                                        label="password"
                                        hint="no hint given"
                                        counter
                                        @click:append="show1 = !show1"
                                        prepend-inner-icon="lock"
                                        clearable
                                        outlined
                                    ></v-text-field>

                                    <div class="text-center">
                                        <span class="red--text" v-if="feedback">{{feedback}}</span>
                                    </div>

                                     <v-card-actions>

                                            <v-btn block rounded color="primary" @click="login" >Log Me In!</v-btn>
                                                                                 
                                    </v-card-actions>

                                    <v-card-actions>
 
                                            <v-btn class="ma-2" block rounded outlined color="grey" @click="signup" >Im new</v-btn>
                                                                                
                                    </v-card-actions>
                                
                                   

                            </v-card-text>
                        </v-col>
                    </v-row>
                </v-parallax>
        </v-col>

    </v-row>  
</template>

<script>

//import slugify from 'slugify'
//import db from '@/firebase/init'
import firebase from 'firebase'
//import functions from 'firebase/functions'



  export default {
    name:'login',
    props: {
      source: String,
    },

    data () {
      return {
        show1: false,
        password: 'Password',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          emailMatch: () => ('The email and password you entered don\'t match'),
        },
        email:null, 
        feedback: null,
        
      }
      
    },

    methods:{
        login(){
            if(this.email && this.password){
                firebase.auth().signInWithEmailAndPassword(this.email, this.password)
                .then(cred => {
                    console.log(cred)
                    this.$router.push({name:'home'})
                }).catch(err => {
                    this.feedback = err.message
                })
                this.feedback = null 

            }else{
                this.feedback = 'Please fill in both fields'
            }
        },

        signup(){
            this.$router.push({name:'signup'})
        }
    }

// methods:{
//     login(){
//         console.log(this.email, this.password)
//     }
// }


}
    
    

</script>



<style>
  
div.first {
  text-shadow: 12px 2px 15px rgb(0, 0, 0);
}

div.second {
  text-shadow: 12px 2px 5px rgb(0, 0, 0);
}

div.third{
  text-shadow: 12px 2px 5px rgb(0, 0, 0);
}

</style>


