<template>

    <v-content>
        <v-container>
            <v-row align = "center" justify="center">
                <v-col cols="12" >
                
                        <v-card class="mx-auto" max-width ="500" shaped  elevation="12">
                            <v-toolbar dark prominent src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg">
                            
                                <v-toolbar-title text> |    Sign Up Form    | </v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                
                                
                                    <v-text-field
                                        v-model="name"
                                        label="Name"
                                        name="name"
                                        prepend-icon="person"
                                        type="text"
                                        clearable
                                    ></v-text-field>
                                     

                                    <v-text-field
                                        v-model="email"
                                        label="E-mail"
                                        name="email"
                                        prepend-icon="mail"
                                        type="email"
                                        clearable
                                    ></v-text-field>

                                    <v-text-field
                                        v-model="password"
                                        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                        :rules="[rules.required, rules.min]"
                                        :type="show1 ? 'text' : 'password'"
                                        name="input-10-1"
                                        label="password"
                                        hint="no hint given"
                                        counter
                                        @click:append="show1 = !show1"
                                        prepend-icon="lock"
                                        clearable
                                    ></v-text-field>

                                    <div class="text-center">
                                        <span class="red--text" v-if="feedback">{{feedback}}</span>
                                    </div>

                                     <v-card-actions>
                                         <v-spacer />
                                        <div class="text-center">
                                            <v-btn  rounded class="mr-4"  color="primary" @click="signup" >Sing Me Up</v-btn>
                                        </div>                                           
                                    </v-card-actions>

                                
                                
                                   

                            </v-card-text>
                                
                                    
                                    
                        </v-card>

            
                
                </v-col>
            </v-row>
        </v-container>
    </v-content>
  
</template>


<script>

import slugify from 'slugify'
import db from '@/firebase/init'
import firebase from 'firebase'
//import functions from 'firebase/functions'



  export default {
    name:'signup',
    props: {
      source: String,
    },

    data () {
      return {
        show1: false,
        password: 'Password',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          emailMatch: () => ('The email and password you entered don\'t match'),
        },
        email:null,
        name:null,
        feedback: null,
        slug: null
      }
      
    },

    methods:{
        signup(){
            //slugify the name function
            if(this.name && this.email && this.password){
                this.slug = slugify(this.name, {
                    replacement:'-',
                    remove: /[$*_+~.()'"!\-:@]/g,
                    lower: true
                })
                // look into firebase collection and look into doc 
                let ref = db.collection('users').doc(this.slug)
                // to check if the document is exist, asyncronous function , call back function 
                ref.get().then(doc =>{
                    if(doc.exists){
                        this.feedback = 'this username already exists'
                    } else{
                // if the username does not exists, then we use the firebase function to create them
                        firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
                        .then(cred =>{
                            ref.set({
                                name: this.name,
                                geolocation: null,
                                user_id: cred.user.uid
                            })
                            //once login redirect user to the page u wanted 
                        }).then(()=>{
                            this.$router.push({name:'home'})
                        })
                        .catch(err => {
                            console.log(err)
                            this.feedback = err.message
                        } )
                        this.feedback = 'this username is free to use'
                    }
                })
                console.log(this.slug)
            }else{
                this.feedback = "you must enter all the fields"
             }
         }
    }
  }
    
    
  
</script>

<style>

</style>