<template>
  <nav>
    <v-toolbar v-if="user" flat app color="grey lighten-4" >
      <v-app-bar-nav-icon class="grey--text" @click.stop="drawer =!drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="text-uppercase grey--text">
        <span class="hidden-sm-and-down">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/MMC-Gamuda_Logo.svg/800px-MMC-Gamuda_Logo.svg.png" 
           style="width:320px;height:47px;">
        </span>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-text-field
        flat
        solo-inverted
        rounded
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Search"
        class="hidden-sm-and-down"
     
      />
        
        <v-menu transition="scale-transition">
        
          <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
              
            <v-icon>mdi-apps</v-icon>
            </v-btn>
          </template>

            <v-list>
              <v-list-item v-for="(item, index) in itemss" :key="index" :to="item.route">
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item>
            </v-list>
        </v-menu>
        
      <v-btn depressed @click="logout">
        <span>Sign Out</span>
        <v-icon>mdi-logout</v-icon>
      </v-btn>

    </v-toolbar>
  
    <v-navigation-drawer 
      v-model="drawer"  
      permanent
      expand-on-hover
      width="25%"
      v-if="user"
      app
      >

      <v-list>
        <v-list-item class="px-2" >
          <v-list-item-avatar >
            <v-img src="https://gamuda.com.my/wp-content/uploads/2020/01/Liew-Kit-Shen-1024x1024.jpg"></v-img>
          </v-list-item-avatar>
        

      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>TBM S777</v-list-item-title>
          <v-list-item-subtitle> Welcome {{user.id}} </v-list-item-subtitle>
          <v-list-item-subtitle> {{email1}} </v-list-item-subtitle>
          <v-menu transition="scale-transition">
              <template v-slot:activator="{ on }">
                <v-btn small v-on="on">
                select your TBM 
                </v-btn>
              </template>

                <v-list>
                  <v-list-item v-for="(item, index) in itemss" :key="index" :to="item.route">
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
            </v-menu>

        </v-list-item-content>
      </v-list-item>
      </v-list-item>
      </v-list>
     

      

      <v-divider></v-divider>

      <v-list flat nav>

        <v-list-item-group v-model="item" color="primary">
          <v-list-item v-for="item in items" :key="item.title" dense router :to="item.route">

            <v-list-item-icon>
              <v-icon v-text="item.icon"> </v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>


          </v-list-item>
        </v-list-item-group>

      </v-list>

    </v-navigation-drawer>



  </nav>
</template>


<script>
import firebase from 'firebase'
import db from '@/firebase/init'
import { mdiFile } from '@mdi/js';
import { mdiDatabase } from '@mdi/js';
import { mdiAlertOctagon } from '@mdi/js';
// import { Plotly } from 'vue-plotly'

  export default {
    name: 'navbar',
    data () {
      return {
        drawer: false,
        email: null,
        profile: null,
        user:null,
  
        items: [
          { title: 'Home', icon: 'home', route:'/home'},
          { title: 'TBM  Data', icon: mdiDatabase,route:'/TBMLiveData'},
          { title: 'Shift Production Data', icon: mdiFile },
          { title: 'TBM Insight', icon: mdiAlertOctagon },
        ],
        links: ['signup', 'Contacts', 'Settings'],

        itemss: [
        { title: 'Tu1 S1056', route:'/signup' },
        { title: 'Tu1 S1056' },
        { title: 'Tu6 S777' },
        { title: 'Tu6 S776' },
      ],

 
      }
    },

 

    created(){
        let ref = db.collection('users')
        //if the current uer id is same as the firebase id , get the user name and display it 
        ref.where('user_id', '==', firebase.auth().currentUser.uid).get()
        .then(snapshot => {
            snapshot.forEach(doc => {
                this.user = doc.data(),
                this.user.id = doc.id
            })
        })
        // get the signed in user email
          // var user=firebase.auth().currentUser
          // console.log(user)
          // this.email1= user.email
          // this.user = user


            firebase.auth().onAuthStateChanged(user => {
            if(user){
                this.user = user
                this.email1= user.email
            }else{
                this.user = null 
            }
        })
        
    
        // firebase.auth().onAuthStateChanged(user => {
        //     if(user){
        //         this.user = user
        //     }else{
        //         this.user = null 
        //     }
        // })
  },

    methods:{
        logout(){
            firebase.auth().signOut().then(()=> {
                this.$router.push({ name: 'login'})
                
            })
            
        },

        
    },

    

  }
</script>

<style scoped>
.v-progress-circular {
  margin: 1rem;
}

</style>