<template>
    <div class="tbmlivedata">
        <v-content  class="grey lighten-4">
            <v-container fluid>
                <v-row>
                    <v-col cols="12" md="8">
                    <v-content-title>
                    <span class="display-1 font-weight-light grey--text">TBM</span>
                    <span class="display-1 font-weight-thick grey--text">Live Data</span>
                    </v-content-title>
                    </v-col>
                </v-row>
                 <v-divider></v-divider>



                 
            </v-container>
        </v-content>
    </div>
   
</template>

<script>
export default {
    name:'TBMLiveData',

    data(){
        return{

        }
    }
}
</script>

<style>

</style>