<template>
  <div class="dashboard">
  <v-content class="grey lighten-4" >
    <v-container fluid>
      <v-row>
        <v-col cols="12" md="8">
          <v-content-title>
          <span class="display-1 font-weight-light grey--text">DASH</span>
          <span class="display-1 font-weight-thick grey--text">BOARD</span>
          </v-content-title>
        </v-col>

        <v-col cols="6" md="4">
          
        </v-col>
      </v-row>
      
      <v-divider></v-divider>
<!-- first row -->
      <v-row>
        
        <v-col cols="6" md="4">
          <v-card class="pa-2" raised >
            <v-row align="center" justify="start">
              <v-col cols="4" md="4">
                <v-progress-circular
                  :rotate="-90"
                  :size="80"
                  :width="15"
                  :value="value"
                  color="primary"
                >
                  {{ value }}
                </v-progress-circular>
              </v-col>
              <v-col cols="8" md="8" >
                <div>Total Ring Produced 
                  <p class="display-1 text--primary"> {{LastRingBuild}}/1106 </p>
                  <p2 style="color:green"> 3% increment </p2>
                  <p3> overall since last month</p3>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-col>

        <v-col cols="6" md="4">
          <v-card class="pa-2" raised>
            <v-row align="center" justify="start">
              <v-col cols="4" md="4">
                <v-progress-circular
                  :rotate="-90"
                  :size="80"
                  :width="15"
                  :value="value2"
                  color="deep-orange lighten-2"
                >
                  {{ value2 }}
                </v-progress-circular>
              </v-col>
              <v-col cols="8" md="8">
                <div>Total Dinstance Mined
                  <p class="display-1 text--primary"> {{LastDistance}}/1548m </p>
                  <p2 style="color:green"> 2% increment </p2>
                  <p3> overall since last month</p3>
                </div>
              </v-col>
              
            </v-row>
          </v-card>
        </v-col>

        <!-- <v-col cols="6" md="3" >
          <v-card class="pa-2"  raised>
            <v-row align="center" justify="start">
              <v-col cols="4" md="4">
                <v-progress-circular
                  :rotate="-90"
                  :size="70"
                  :width="15"
                  :value="value3"
                  color="red"
                >
                  {{ value3 }}
                </v-progress-circular>
              </v-col>
               <v-col cols="8" md="8">
                <div>Total Downtime
                  <p class="display-1 text--primary"> {{value3}} hour </p>
                  <p2 style="color:red"> 10% decrement </p2>
                  <p3> overall since last month</p3>
                </div>
               </v-col>
              
            </v-row>
          </v-card>
        </v-col> -->

         <v-col cols="6" md="4">
          <v-card class="pa-2" raised >
            <v-row align="center" justify="start">
              <v-col cols="4" md="4">
                <v-progress-circular
                  :rotate="-90"
                  :size="80"
                  :width="15"
                  :value="value4"
                  color="green"
                >
                  {{ value4 }}
                </v-progress-circular>
              </v-col>
              <v-col cols="8" md="8">
                <div>Total Days Delay
                  <p class="display-1 text--primary"> {{TotalDaysDelay}} days </p>
                  <p2 style="color:green"> 4% increment </p2>
                  <p3> overall since last month</p3>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-col>

      </v-row>

<!-- second row -->
      <v-row >

        <v-col cols="12" md="8">
          <!-- <v-row align="start" justify="start"> -->
            <v-card class="pa-2" >
              <v-card-title>Overview</v-card-title>
              <v-card-subtitle>Ring production rate </v-card-subtitle>
              <v-divider></v-divider>
              <Plotly :data="overview" :layout="layout" :display-mode-bar="true"></Plotly>
            </v-card>
          <!-- </v-row> -->
        </v-col>

        <v-col cols="6" md="4">
            <v-card class="pa-2" >
              <v-card-title>Performance</v-card-title>
              <v-card-subtitle>Ring produced last four days </v-card-subtitle>
              <v-divider></v-divider>
              <Plotly :data="data2" :layout="layout2" :display-mode-bar="false"></Plotly>
            </v-card>
        </v-col>
      </v-row>

<!-- third row -->

      <v-row >

        <v-col cols="6" md="5" >
          <!-- <v-row align="start" justify="start"> -->
            <v-card class="pa-2" max-width="960">
              <div >
                <v-btn rounded color="primary" dark @click.stop="loaded2 = !loaded2">Refresh Data</v-btn>
                
                <div></div>
              </div>
            </v-card>
          <!-- </v-row> -->
        </v-col>

      </v-row>

    </v-container >
  </v-content>
  </div>
</template>


<script>
import firebase from 'firebase'
import db from '@/firebase/init'
import { mdiFile } from '@mdi/js';
import { mdiDatabase } from '@mdi/js';
import { mdiAlertOctagon } from '@mdi/js';
import { Plotly } from 'vue-plotly'
import axios from 'axios'
import moment from 'moment'

// const url = "https://webdataapi.tunnel-insight.com/api/data";

  export default {
   name:'home',
    data () {
      return {
        
        info: null,
        response: null,
        drawer: null,
        email: null,
        profile: null,
        user:null,
        value: null,
        value2: null,
        value3: null,
        tbmdata_data1:{},
        overview:null, 
        LastRingBuild: null,
        LastDistance:null,
        tbmdata_data2:{},
        value4: null,
        items: [
          { title: 'Home', icon: 'home', route:'/signup'},
          { title: 'TBM Live Data', icon: mdiDatabase,route:'/TBMLiveData'},
          { title: 'Shift Production Data', icon: mdiFile },
          { title: 'TBM Insight', icon: mdiAlertOctagon },
        ],
        links: ['signup', 'Contacts', 'Settings'],

        itemss: [
        { title: 'Tu1 S1056', route:'/signup' },
        { title: 'Tu1 S1056' },
        { title: 'Tu6 S777' },
        { title: 'Tu6 S776' },
      ],



      data2:[{
        x: [1,2,3,4],
        y: [10,15,13,17],
        type:"histogram"
        }],

      // layout:{
      //   title: "Ring Production"
      // }

      }
    },

      data1:[{
        x: [1,2,3,4],
        y: [10,15,13,17],
        type:"line"
        }],


    components: {
        Plotly,
    },

    created(){
      //////////////////////////////////////////////
        let ref = db.collection('users')
        //if the current uer id is same as the firebase id , get the user name and display it 
        ref.where('user_id', '==', firebase.auth().currentUser.uid).get()
        .then(snapshot => {
            snapshot.forEach(doc => {
                this.user = doc.data(),
                this.user.id = doc.id
            })
        })
        //get the signed in user email
        var user=firebase.auth().currentUser
          // console.log(user)
          this.email1= user.email

      //////////////////////////////////////////////////
      
        
      //   axios.post("https://webdataapi.tunnel-insight.com/api/data", {
      //     tbm_ver: 'S777',
      //     columns: [
      //         'PENETRATION',
      //     ],
      //     range: 'ring',
      //     start_ring: '99',
      //     end_ring: '101'
      //   })
      // .then(response =>{
      //   let tbmdata_datay= response.data.result.PENETRATION ; 
      //   let tbmdata_datax= response.data.result.time ;  
      //   this.overview = [
      //       { x:tbmdata_datax, y:tbmdata_datay, type:'scatter' }
      //   ];
      // })
      
      //////////////////////////////////////////////////////

        let currentTime = moment().format(moment.HTML5_FMT.DATETIME_LOCAL_SECONDS);

        axios.post("https://webdataapi.tunnel-insight.com/api/delays-table", {
          tbm_ver: 'S777',
          start_time: '2019-07-11T00:00:00',
          end_time: currentTime,
          columns: ['cumulative_rb','delay','date','construction_programme']
          
        })
      .then(response1 =>{
        
        var LastRingBuild = response1.data.result.cumulative_rb;
        var construction_programme = response1.data.result.construction_programme;
        var LastRingBuildTime = response1.data.result.date;

        this.overview = [
            { x:LastRingBuildTime, y:LastRingBuild, name:'actual', type:'scatter' },
            { x:LastRingBuildTime, y:construction_programme, name:'planned',type:'scatter'}
        ];
        this.layout ={
          xaxis:{  
            
            title: 'Time',
            autorange: true,
            showgrid: false,
            zeroline: false,
            showline: false,
            autotick: true,
            ticks: '',
            showticklabels: false
                    
                  },
          yaxis:{
            title: 'Ring Number'
          }
        }

        var Last4RingBuild =LastRingBuild.slice(-4);
        var Last4RingBuildTime =LastRingBuildTime.slice(-4);
        console.log(Last4RingBuild);
        this.data2 = [
            { x:Last4RingBuildTime, y:Last4RingBuild, type:'scatter' }
           
        ];
        this.layout2 ={
          xaxis:{  
            
            title: 'Time',
            autorange: true,
            showgrid: false,
            zeroline: false,
            showline: false,
            autotick: true,
            ticks: '',
            showticklabels: false
                    
                  },
          yaxis:{
            title: 'Ring Number'
          }
        }


        this.LastRingBuild =LastRingBuild.slice(-1)[0];
       
        this.LastDistance = (LastRingBuild.slice(-1)[0] * 1.4).toFixed(0);
        this.value = ((LastRingBuild.slice(-1)[0] / 1106) * 100).toFixed(1);
        this.value2 = ((LastRingBuild.slice(-1)[0]* 1.4 / 1548) * 100).toFixed(1);

        var TotalDaysDelay = response1.data.result.delay;
        this.TotalDaysDelay = Math.abs(TotalDaysDelay.slice(-1)[0]);
        this.value4 = (Math.abs(TotalDaysDelay.slice(-1)[0]))/200*100;
       
      });

      /////////////////////////////////////////////////////////////////



    },
    methods(){

 
    },     
    
  }

</script>

<style scoped>
.v-progress-circular {
  margin: 1rem;
}

</style>